@model Foodie.Models.PurchaseOffer

@{
    ViewBag.Title = "Details";
}

<h2>請輸入代買內容</h2>

<div>
    <h4>PurchaseOffer</h4>
    @Html.ViewBag.purchaseRequestID
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeadLineTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadLineTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferedRestaurant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferedRestaurant)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Create")
</p>
